In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# get the table info
r  = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", "lxml")

data = r.text

soup = BeautifulSoup(data)

table = soup.find_all('table')[0] 

# convert list to dataframe
dfs = pd.read_html(str(table))

df = pd.DataFrame(dfs[0])

/Users/yidwa/anaconda2/lib/python2.7/site-packages/cryptography/hazmat/primitives/constant_time.py:26: CryptographyDeprecationWarning: Support for your Python version is deprecated. The next version of cryptography will remove support. Please upgrade to a release (2.7.7+) that supports hmac.compare_digest as soon as possible.
  utils.PersistentlyDeprecated2018,
/Users/yidwa/anaconda2/lib/python2.7/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 162 of the file /Users/yidwa/anaconda2/lib/python2.7/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [2]:
# set the first row as columns
new_header = df.iloc[0]
df=df[1:]
df.columns = new_header
df.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [3]:
#drop the invalid rows
indexRows = df[df['Borough'] == 'Not assigned'].index
df.drop(indexRows, inplace=True)

In [4]:
# group the rows with same postcode, and list all neighbourhood
grouped_df = df.groupby(['Postcode','Borough'])
grouped_lists = grouped_df['Neighbourhood'].agg(lambda x: ",".join(x))
grouped_lists = grouped_lists.reset_index()
grouped_lists.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [5]:
grouped_lists['Neighbourhood'].replace({"Not assigned": grouped_lists['Borough']}, inplace=True)

In [7]:
# get the number of rows
grouped_lists.shape

(103, 3)

In [8]:
grouped_lists.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [28]:
!wget -O coor.csv https://cocl.us/Geospatial_data

--2020-03-08 11:46:26--  https://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 158.85.108.86, 169.48.113.194, 158.85.108.83
Connecting to cocl.us (cocl.us)|158.85.108.86|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-03-08 11:46:28--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 103.116.4.197
Connecting to ibm.box.com (ibm.box.com)|103.116.4.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-03-08 11:46:29--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-03-08 11:46:29--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 103.116.4.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|103.116.4.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!DOqtQqc9cCqhXE5AZi25SUEe42Clvbvo_PapOsp4jcTdHkDGVzzn0PwO02mz5OzTz771H1h_Z8BUc9U2ZT_0lY_xW6SHCLTRHdZhIx6HlyTOSahBTN3fDHwVw2YB0mlfCzEnNCJmdJr10j3AMYrt7xgUblOO-hxs2m0qfjKDcGSpZ5Bpalfg3svUmu9IUXzcJu80CgjAKnq2TjUp_UQxzGlcqwz_KjMugRep8FGPNVYbeIElj5Obcd3ZGrUk6Ppv2OpHtGKPNBXwIESpPnAS2RyLtHJzRcKETmgT5v3V_zp07uQPha_hjgi_o-eMuJ4RJb_yVekEq7ImX5lwBCX84Z-pM1nmzMrQRk5L0uDCNWkl1vlrtxmHu3wmpi542R-xmJ0IfRbmi2G9ijlAh2Z9EjSz15el8fP_AwKRE_ncfu0TLKs_qlRwyvySA7MIFchYs81_VqQKOwrV-7gyfoPwxLKOOqc8LGakI3c4NgTn_jkPrNN_6P3VMyJuqNjO-pRCZwnRBWwrj5GyLgERscq6UeJj__ovCanlX6Nwo1CgRmLRpOMISLSm5fBKxZN-xv0RP28UprhSxMqKWGM2iZmlWw6FOMB62Ifg8XicUB6CJbyVwkuXE6UzlJMtum_k7kba9lRclzY7mhOJ3yPPEFACegloplbp-axkynsi4i5_csLM3ocTSQcjGbOoTdWpRpHPEanO4wq5Or17t_b1iS3Kgh8-2xJivaTSqPZBqstO_d_auM307gWk0O_UDX38PCDapeEUZRGUXHMpcaaeyDZ2GoYYKzzWetKg47XWeOLBeiERoqTglu73_0mcIEu2DQh3nCM8I0NLSQ9SANXjLhW8beRpOuHGw1NOJupwOwcDEz_PEkGj0bc5U2rqbmjXrDbeSNRniRee1RwY55p8Fi73riBSIXDAX4cRSnW0B2IZ3jtXek2ryr3G4iH_k7kDz3Ydt68s-FEjOZJLIz3d5yfzHZLWEwWCDcVgGoWSyLtKoUS41zI-na3-RLBFWOrcCn51x5jNFDri63uAnchmj7_swRbm8TJv2dwQ0F3Gtf2PwJrWjdoeSVjXQrNx0b5R83mLmt6eXpq4naH71Q2qOr6y-m9mXVa3pMQ-hFrpk_bEEiqMpysnApFLJvxU-m2YrRANNUNTauJsarl7fiaZ0LonC5EJtUw22XlmpCnehwyPb0I0V0r0H06sbWCGcKkPd5TLl_-gC9APAGSmpotmtjKRVUrpWbeJlWJv-JHoFYsjI0nYycUb4QmkEU_IMQhLwhZeZwAGlsJYE6OpKxZrFfx8_DntsJKgnFBcQKFkuWNoNC_n6K_5G3AAUQ-6lnuLXNUMewERPGW3npHxqq4_lWrZMRi9886ZnAdxO05KU7cbea3QJOdHl8uSntbJ6lU./download [following]
--2020-03-08 11:46:31--  https://public.boxcloud.com/d/1/b1!DOqtQqc9cCqhXE5AZi25SUEe42Clvbvo_PapOsp4jcTdHkDGVzzn0PwO02mz5OzTz771H1h_Z8BUc9U2ZT_0lY_xW6SHCLTRHdZhIx6HlyTOSahBTN3fDHwVw2YB0mlfCzEnNCJmdJr10j3AMYrt7xgUblOO-hxs2m0qfjKDcGSpZ5Bpalfg3svUmu9IUXzcJu80CgjAKnq2TjUp_UQxzGlcqwz_KjMugRep8FGPNVYbeIElj5Obcd3ZGrUk6Ppv2OpHtGKPNBXwIESpPnAS2RyLtHJzRcKETmgT5v3V_zp07uQPha_hjgi_o-eMuJ4RJb_yVekEq7ImX5lwBCX84Z-pM1nmzMrQRk5L0uDCNWkl1vlrtxmHu3wmpi542R-xmJ0IfRbmi2G9ijlAh2Z9EjSz15el8fP_AwKRE_ncfu0TLKs_qlRwyvySA7MIFchYs81_VqQKOwrV-7gyfoPwxLKOOqc8LGakI3c4NgTn_jkPrNN_6P3VMyJuqNjO-pRCZwnRBWwrj5GyLgERscq6UeJj__ovCanlX6Nwo1CgRmLRpOMISLSm5fBKxZN-xv0RP28UprhSxMqKWGM2iZmlWw6FOMB62Ifg8XicUB6CJbyVwkuXE6UzlJMtum_k7kba9lRclzY7mhOJ3yPPEFACegloplbp-axkynsi4i5_csLM3ocTSQcjGbOoTdWpRpHPEanO4wq5Or17t_b1iS3Kgh8-2xJivaTSqPZBqstO_d_auM307gWk0O_UDX38PCDapeEUZRGUXHMpcaaeyDZ2GoYYKzzWetKg47XWeOLBeiERoqTglu73_0mcIEu2DQh3nCM8I0NLSQ9SANXjLhW8beRpOuHGw1NOJupwOwcDEz_PEkGj0bc5U2rqbmjXrDbeSNRniRee1RwY55p8Fi73riBSIXDAX4cRSnW0B2IZ3jtXek2ryr3G4iH_k7kDz3Ydt68s-FEjOZJLIz3d5yfzHZLWEwWCDcVgGoWSyLtKoUS41zI-na3-RLBFWOrcCn51x5jNFDri63uAnchmj7_swRbm8TJv2dwQ0F3Gtf2PwJrWjdoeSVjXQrNx0b5R83mLmt6eXpq4naH71Q2qOr6y-m9mXVa3pMQ-hFrpk_bEEiqMpysnApFLJvxU-m2YrRANNUNTauJsarl7fiaZ0LonC5EJtUw22XlmpCnehwyPb0I0V0r0H06sbWCGcKkPd5TLl_-gC9APAGSmpotmtjKRVUrpWbeJlWJv-JHoFYsjI0nYycUb4QmkEU_IMQhLwhZeZwAGlsJYE6OpKxZrFfx8_DntsJKgnFBcQKFkuWNoNC_n6K_5G3AAUQ-6lnuLXNUMewERPGW3npHxqq4_lWrZMRi9886ZnAdxO05KU7cbea3QJOdHl8uSntbJ6lU./download
Resolving public.boxcloud.com (public.boxcloud.com)... 103.116.4.200
Connecting to public.boxcloud.com (public.boxcloud.com)|103.116.4.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘coor.csv’

coor.csv            100%[===================>]   2.82K  --.-KB/s    in 0s

2020-03-08 11:46:32 (76.6 MB/s) - ‘coor.csv’ saved [2891/2891]

In [29]:
pdf = pd.read_csv('coor.csv')
pdf.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [38]:
result = grouped_lists.set_index('Postcode').join(pdf.set_index('Postal Code'))
result.head()

,Borough,Neighbourhood,Latitude,Longitude
Postcode,,,,
M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476